html
   head
      block title
         title Tannder
      link( rel="stylesheet" href="../assets/css/main.css")
   body
      //- header
      include ./partials/_header.pug
      //- section-content
      block content
      //- footer
      include ./partials/_footer.pug
